<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>workbook</display-name>
  <context-param>
    <param-name>driver</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:mysql://localhost/studydb</param-value>
  </context-param>
  <context-param>
    <param-name>username</param-name>
    <param-value>study</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>study</param-value>
  </context-param>
  <filter>
  	<filter-name>CharacterEncodingFilter</filter-name>
  	<filter-class>porop.filters.CharacterEncodingFilter</filter-class>
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>UTF-8</param-value>
  	</init-param>
  </filter>
  <servlet>
    <servlet-name>MemberAddServlet</servlet-name>
    <servlet-class>porop.member.MemberAddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MemberListServlet</servlet-name>
    <servlet-class>porop.member.MemberListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MemberUpdateServlet</servlet-name>
    <servlet-class>porop.member.UpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MemberDeleteServlet</servlet-name>
    <servlet-class>porop.member.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberAddServlet</servlet-name>
    <url-pattern>/member/add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MemberListServlet</servlet-name>
    <url-pattern>/member/list</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MemberUpdateServlet</servlet-name>
    <url-pattern>/member/update</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MemberDeleteServlet</servlet-name>
    <url-pattern>/member/delete</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>